extends layout
block content
    h3=title
    br
    each question, i in questionList
        a(href='question/#{question._id}' )
            h6=question.theme
            h5=question.question
            h7=question.author.user


