extends layout

block content
    include header
    h3=title
    br
    .mainContainer
      .titleBar Latest Feed
      p#description In this section, you can find out the latest questions in yourself areas of interest and keep yourself up-to-date



      .pageNavLinkGroup
        nav(aria-label='Page navigation example')
          ul.pagination
            if(prev)
                li.page-item
                    a.page-link(href='/feed/'+parseInt(id-1)) Previous
            if(next)
                li.page-item
                    a.page-link(href='/feed/'+parseInt(id+1)) Next

      .questionList
        dl.sectionHeaders
          dt.avatar
          dd.col-md-6.col-sm-4.main
            a.question(href='#')
              span#quest Question
          dd.col-md-2.col-sm-6.stats
            a.stat(href='#')
              span#repl Replies Views
          dd.col-md-2.col-sm-6.lastReply

              span.lmessage Last Message
        ol.questionListItems
            each question, i in questionList
                .row
                .avatar
                    span.avatarContainer
                .col-md-6.col-sm-4.main
                    .questionText
                    a(href='/question/#{question._id}/') #{question.question}
                        .underscript
                            a.username(href='/user/#{question.author.login}') #{question.author.login}
                            br
                            br
                            span.startDate #{question.date.day+"/"+question.date.month+"/"+question.date.year}
                .col-md-2.col-sm-6.stats
                    dl.major
                    dt Replies: #{question.howManyAns}
                .col-md-2.col-sm-6.lastReply
                    dl.lastReplyInfo
                    if(question.lastAnswer!=null)
                        dt
                            a.username(href='#') #{question.lastAnswer.author.login}
                        dd.snoozed
                        a.dateTime(href='#') #{question.lastAnswer.date.day+"/"+question.lastAnswer.date.month+"/"+question.lastAnswer.date.year+" at "+question.lastAnswer.date.hour+":"+question.lastAnswer.date.minutes}
                    else
                        dt
                            span No answers yet

   
