extends layout
include header

block content
    h3=title
    form#user_image(name="user_image",method='post',action='uploadimage',enctype="multipart/form-data")
        if(user.img != null)
            img#input_img(name="image",src='#{user.img}',width = "120px",height='150px')
        else
            img#input_img(name="image",src='../../images/default_avatar.gif', width = "120px",height='150px')
        input#input_image(type="file",name="myImage")
        button#change_avatar(type="submit") submit
    form#form_update_user(name="changeUserSettings",method="post",action="user/changeusersettings")
        span Name
        span &nbsp
        input#input_name(type="text",placeholder="Your name",name="user",value="#{user.user}")
        br
        br
        span Login
        span &nbsp
        input#input_login(type="text",placeholder="Login",name="login",value="#{user.login}")
        br
        br
        span Password
        span &nbsp
        input#input_password(type="password",placeholder="Password",name="password",value="#{user.password}")
        br
        br
        button#submit_changes_userSettings(type="submit") submit