extends layout
include header

block content

    nav#header.navbar.navbar-inverse
        .container-fluid
            .navbar-header
                button.navbar-toggle(data-toggle='collapse', data-target='#navbar-collapse-2', type='button')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand.brandcolor(href='/') Site
            #navbar-collapse-2.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li.dropdown
                        a.dropdown-toggle(data-toggle='dropdown', href='#', aria-expanded='true')
                            | Doesn't work, needs fixing
                            b.caret
                        ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                            li
                                a(href="#") action
                            li
                                a(href="#") another action
                form.navbar-form.navbar-left
                    .form-group
                        input.form-control(type='text', placeholder='Search')
                    button.btn.btn-default(type='submit' style='margin-left:10px;') Submit
                ul.nav.navbar-nav.navbar-right
                    li.dropdown
                        a.dropdown-toggle(data-toggle='dropdown', href='#', aria-expanded='false')
                            | MyPage
                            b.caret
                        ul.dropdown-menu
                            li
                                a(href='#') Link #1
                            li
                                a(href='#') Link #2
            // /.navbar-collapse

    div.zalupa
    h3=title
    form#user_image(name="user_image",method='post',action='uploadimage',enctype="multipart/form-data")
        if(user.img != null)
            img#input_img(name="image",src='#{user.img}',width = "120px",height='150px')
        else
            img#input_img(name="image",src='../../images/default_avatar.gif', width = "120px",height='150px')
        br
        input#input_image(type="file",name="myImage")
        button#change_avatar(type="submit") submit
    form#form_update_user(name="changeUserSettings",method="post",action="changeusersettings")
        span Name
        span &nbsp
        input#input_name(type="text",placeholder="Your name",name="user",value="#{user.user}")
        br
        br
        span Login
        span &nbsp
        input#input_login(type="text",placeholder="Login",name="login",value="#{user.login}")
        br
        br
        br
        br
        br
        span Login
        span &nbsp
        input(type="text",placeholder="Login",name="login",value="#{user.login}")
        br
        br
        br
        br
        br
        span Login
        span &nbsp
        input(type="text",placeholder="Login",name="login",value="#{user.login}")
        br
        br
        br
        br
        br
        span Login
        span &nbsp
        input(type="text",placeholder="Login",name="login",value="#{user.login}")
        br
        br
        br
        br
        br
        span Login
        span &nbsp
        input(type="text",placeholder="Login",name="login",value="#{user.login}")
        br
        br
        br
        br
        br
        span Login
        span &nbsp
        input(type="text",placeholder="Login",name="login",value="#{user.login}")
        br
        br
        br
        br
        br
        span Password
        span &nbsp
        inputinput_password(type="password",placeholder="Password",name="password",value="#{user.password}")
        br
        br
        span Profession
        span &nbsp
        if(user.profession)
            input#input_profession(type="text",placeholder="Profession",name="profession",value="#{user.profession}")
        else
            input#input_profession(type="text",placeholder="Profession",name="profession")

        br
        br
        button#submit_changes_userSettings(type="submit") submit