extends layout



block content
    include header
    include validationErrors
    div.otstup
    h3=title
    #all
        #image_all
            form#user_image(name="user_image", method='post', action='uploadimage', enctype="multipart/form-data")
                if(user.img != null)
                    img#input_img(name="image", src='#{user.img}', width = "120px", height='150px')
                else
                    img#input_img(name="image", src='../../images/default_avatar.gif', width = "120px", height='150px')
                br
                input#input_image.btn.btn-default(type="file", name="myImage")
                br
                button#change_avatar.btn.btn-primary(type="submit") submit
            br
            br

        form#form_update_user(name="changeUserSettings", method="post", action="changeusersettings")
            .progress(style='width: 100%; ')
                //Here we have to add variable that indicates how much it is filled
                .progress-bar.progress-bar-striped(style='width: 50%; padding: 1px 5%; color: white') Of profile filled

            .form-group
                label(for='input_name') Name
                input#input_name.text-fields.form-control(type='text', placeholder="Your name", name="user", value="#{user.user}")
            //.form-group
            //    label(for='input_login') Login
            //    input#input_login.text-fields.form-control(type='text', placeholder="Login", name="login", value="#{user.login}")
            if(user.mail !=null)
                .form-group
                    label(for='input_login') Change E-mail
                    input#input_login.text-fields.form-control(type='email', placeholder="me@mail.com", name="mail", value="#{user.mail}")
            else
                .form-group
                    label(for='input_login') Enter E-mail
                    input#input_login.text-fields.form-control(type='email', placeholder="me@mail.com", name="mail")

            .form-group
                label(for='input_old_password') Old Password
                input#input_old_password.text-fields.form-control(type='password', placeholder="Old Password", name="oldPassword")

            .form-group
                label(for='input_password') New Password
                input#input_password.text-fields.form-control(type='password', placeholder="New Password", name="password")

            .form-group
                label(for='password_confirmation') Password confirmation
                input#password_confirmation.text-fields.form-control(type='password', placeholder="Confirm your password", name="password_confirm")


            .form-group
                label Profession
                if(user.profession)
                    input#input_profession.text-fields.form-control(type="text", placeholder="Profession", name="profession", value="#{user.profession}")
                    .btn-group.dropup
                        button.btn.btn-default(type='button') .professions
                        button.btn.btn-default.dropdown-toggle(data-toggle='dropdown', type='button')
                            span.caret
                        div#themeAsk
                            select#chooseTop(name="Profession")
                                option(name="") Choose profession
                                option(value="professions[0]") IT
                                option(name="professions[1]") Biology

                else
                    //input#input_profession.text-fields.form-control(type="text", placeholder="Profession", name="profession")
                    //.btn-group.dropdown
                    //    button.btn.btn-default.dropdown-toggle(data-toggle='dropdown', type='button', aria-expanded='false')
                    //        | Dropdown
                            span.caret
                    div#themeAsk
                        select#chooseTop(name="Profession")
                            option(name="") Choose profession
                            option(name="professions[0]") IT
                            option(name="professions[1]") Biology



            br
            br
            button#submit_changes_userSettings.btn.btn-primary(type="submit") submit
            br
            br
            br
            br
            br
            br
            br

| {
|     "occupation":  [
|         {
|        "computer hardware engineer",
|        "computer network architect",
|        "computer operator",
|        "computer programmer",
|        "computer science teacher",
|        "computer support specialist",
|        "computer systems administrator",
|        "computer systems analyst",
|        "software developer",
|        "web developer"
|     ]
| }