extends layout

block content
    include header
    include validationErrors
    h1=question.theme
    br
    h3=question.question
    if(ans.length!=0)

        each answer in ans
            h4=answer.author.user
            h5=answer.text
            h7=answer.date.day+"/"+answer.date.month+"/"+answer.date.year
            if(logedInUser!=null&&logedInUser.login==question.author.login&&answer.author.login!=logedInUser.login&&!question.closed)
                form(action='givePoints/#{answer.author.login}',method='post')
                    input(type='submit',value='This comment helped')
    else
        h5 No answers yet
    if(logedInUser)
        form(action="/question/#{question._id}/post_answer" method="post")
            p
                b Enter your answer:
            p
                textarea(rows="10" cols="45" name="answer")
            p
                input(type="submit" value="Post answer")
    else
        p
            b Please login
        br
        button.btn-default(width='70', height='50', onclick='window.location="/login"', value="Login") Login to answer
    include footer
