extends layout
include validationErrors

block content
    include header
    .cont

        h1=title

        if(logedUser!=null)
            .images(style="position: relative; margin-bottom:120px")
                img#back_img(name="image",src=user.img, alt='.img-responsive',
                                style="width: 98%; height:120px; position: absolute; border-radius: 60px; right:0")
                img#input_img.img-circle(name="image",src=user.img,alt='.img-circle',style="position: absolute")
                h3(style="position: absolute; padding: 10px; right: 10%; font-size:50px; color: white") #{user.login}
            br
            br
            h2 QUESTIONS
            br
            .row
                .col-md-6
                    b ANSWERED:
                .col-md-6
                    b ASKED:
                .col-md-6
                    h3=user.answered
                .col-md-6
                    h3=user.asked
            br
            b RANK:
            br
            br
            .progress(style='width: 100%')
                .progress-bar.progress-bar-striped.active.glyphicon.glyphicon-star(style='width: 20%; padding: 1px 5%; color: white') Private

            .panel.panel-primary
                .panel-heading Tip of the day
                .panel-body To increase your rank fill out your profile and help others
            br
            if(user.login==logedUser.login)
                button#change_userSettings.btn.btn-primary(onclick='window.location="/user/#{logedUser.login}/profileSettings"') Settings
                button.btn.btn-primary(onclick='window.location="/user/#{logedUser.login}/Contributors"' style="margin: 0px 10px" ) Contributors
            br
            br