if(!success && success!=null)
    if(ownErrors!=null)
        each error in ownErrors
            div.alert.alert-danger
                strong Error!
                span #{error}
    if(errors!=null && errors!=undefined)
        each error in errors
            div.alert.alert-danger
                strong Error!
                span #{error.msg}

                if(!success && success != null)
                    if(ownErrors != null)
                        each error in ownErrors
                            div.alert.alert-danger
                                strong Error!
                                span #{error}
                    if(errors != null && errors != undefined)
                        each error in errors
                            div.alert.alert-danger
                                strong Error!
                                span #{error.msg}if(!success && success!=null)
                                    |     if(ownErrors!=null)
                                    |         each error in ownErrors
                                    |             div.alert.alert-danger
                                    |                 strong Error!
                                    |                 span #{error}
                                    |     if(errors!=null && errors!=undefined)
                                    |         each error in errors
                                    |             div.alert.alert-danger
                                    |                 strong Error!
                                    |                 span #{error.msg}if(!success && success!=null)
                                    |     if(ownErrors!=null)
                                    |         each error in ownErrors
                                    |             div.alert.alert-danger
                                    |                 strong Error!
                                    |                 span #{error}
                                    |     if(errors!=null && errors!=undefined)
                                    |         each error in errors
                                    |             div.alert.alert-danger
                                    |                 strong Error!
                                    |                 span #{error.msg}if(!success && success!=null)
                                    |     if(ownErrors!=null)
                                    |         each error in ownErrors
                                    |             div.alert.alert-danger
                                    |                 strong Error!
                                    |                 span #{error}
                                    |     if(errors!=null && errors!=undefined)
                                    |         each error in errors
                                    |             div.alert.alert-danger
                                    |                 strong Error!
                                    |                 span #{error.msg}if(!success && success!=null)
                                    |     if(ownErrors!=null)
                                    |         each error in ownErrors
                                    |             div.alert.alert-danger
                                    |                 strong Error!
                                    |                 span #{error}
                                    |     if(errors!=null && errors!=undefined)
                                    |         each error in errors
                                    |             div.alert.alert-danger
                                    |                 strong Error!
                                    |                 span #{error.msg}if(!success && success!=null)
                                    |     if(ownErrors!=null)
                                    |         each error in ownErrors
                                    |             div.alert.alert-danger
                                    |                 strong Error!
                                    |                 span #{error}
                                    |     if(errors!=null && errors!=undefined)
                                    |         each error in errors
                                    |             div.alert.alert-danger
                                    |                 strong Error!
                                    |                 span #{error.msg}if(!success && success!=null)
                                    |     if(ownErrors!=null)
                                    |         each error in ownErrors
                                    |             div.alert.alert-danger
                                    |                 strong Error!
                                    |                 span #{error}
                                    |     if(errors!=null && errors!=undefined)
                                    |         each error in errors
                                    |             div.alert.alert-danger
                                    |                 strong Error!
                                    |                 span #{error.msg}if(!success && success!=null)
                                    |     if(ownErrors!=null)
                                    |         each error in ownErrors
                                    |             div.alert.alert-danger
                                    |                 strong Error!
                                    |                 span #{error}
                                    |     if(errors!=null && errors!=undefined)
                                    |         each error in errors
                                    |             div.alert.alert-danger
                                    |                 strong Error!
                                    |                 span #{error.msg}if(!success && success!=null)
                                    |     if(ownErrors!=null)
                                    |         each error in ownErrors
                                    |             div.alert.alert-danger
                                    |                 strong Error!
                                    |                 span #{error}
                                    |     if(errors!=null && errors!=undefined)
                                    |         each error in errors
                                    |             div.alert.alert-danger
                                    |                 strong Error!
                                    |                 span #{error.msg}if(!success && success!=null)
                                    |     if(ownErrors!=null)
                                    |         each error in ownErrors
                                    |             div.alert.alert-danger
                                    |                 strong Error!
                                    |                 span #{error}
                                    |     if(errors!=null && errors!=undefined)
                                    |         each error in errors
                                    |             div.alert.alert-danger
                                    |                 strong Error!
                                    |                 span #{error.msg}if(!success && success!=null)
                                    |     if(ownErrors!=null)
                                    |         each error in ownErrors
                                    |             div.alert.alert-danger
                                    |                 strong Error!
                                    |                 span #{error}
                                    |     if(errors!=null && errors!=undefined)
                                    |         each error in errors
                                    |             div.alert.alert-danger
                                    |                 strong Error!
                                    |                 span #{error.msg}